html, body {
  height: 100%;
}

body {
  background-color: $color---lightest;
  color: $color---darkest;
  line-height: 150%;
  font-size: 100%;
}

p {
  margin-top: 0;
  margin-bottom: rem(16px);
}

a {
  @extend %link;
}

.container {

  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    padding: rem($padding---default);
  }

  @include breakpoint(large) {
    max-width: rem(1200px);
    margin: 0 auto;
  }
}