$this: 'author';
$image-width---medium: 180px;
$image-width---large: 250px;

.#{$this} {
  display: none;

  @include breakpoint(medium) {
    display: block;
    flex: 1 1 auto;
    width: 30%;
    font-style: oblique;
    text-align: center; 

    &__image {
      width: $image-width---medium;
      margin-top: rem(90px);
      border-radius: $image-width---medium / 2;
      margin-bottom: rem(10px);
    }

    &__content {
      text-align: left;
      padding-left: 10%;
    }
  }

  @include breakpoint(large) {
    &__image {
      width: $image-width---large;
      border-radius: $image-width---large / 2;
    }
  }
}